---
layout: layouts/base.njk
title: "Le Journal des Petits chez Céline - Activités pour Enfants à Brétigny-sur-Orge"
description: "Articles sur les activités d'éveil, conseils et astuces pour enfants de moins de 3 ans à Brétigny-sur-Orge. Découvrez comment rendre l'apprentissage amusant avec Céline, assistante maternelle agréée."
tags: "assistante maternelle, nounou, activités enfants, Brétigny-sur-Orge, blog"
url: "https://test-site-statique-blog-eleventy.netlify.app/blog"
image: "https://monsite.com/images/blog.jpg"
eleventyNavigation:
  key: "BLOG"
  title: "BLOG"
  order: 4
pagination:
  data: collections.posts
  size: 5
  alias: posts
  bodyClass: "blog-page"
---


  <!-- Icône de défilement vers le haut utilisant une image SVG -->
  <a href="#first-article" class="scroll-to-top">
    <img class="rocket-icon" src="{{ '/images/rocket-svgrepo-com.svg' | url }}" alt="Icône fusée - Retour en haut de la page pour découvrir les articles sur des sujets de la petite enfance">
</a>

{% include "layouts/widget/header.njk" %} <!-- Inclusion de l'en-tête -->




<section id="contenu-blog"> <!-- mt-5 ajoute de la marge supérieure -->
<!-- Page content -->
<div class="container"> <!-- Début du conteneur -->
    <div class="row"> <!-- Début de la ligne -->
        <!-- Colonne des articles -->
        <div class="col-md-8 col-lg-8"> <!-- Début de la colonne des articles -->


            <!-- Featured blog post -->
            <div id="first-article" class="card mb-4"> <!-- Début de l'article vedette -->
                {% if posts | length > 0 %}
                    {% set featuredPost = posts[0] %}
                    <a href="{{ featuredPost.url }}">

{% image featuredPost.data.featuredImage | default('https://dummyimage.com/850x350/dee2e6/6c757d.jpg'), featuredPost.data.title | default('Image de l\'article'), '(min-width: 1024px) 100vw, 50vw' %} 

                    </a>

{% include "layouts/widget/partage-article-vedette-reseaux.njk" %} <!-- Inclusion du partage-article-vedette-reseaux -->

                    <div class="card-body text-center"> 
                        <span class="badge text-bg-secondary">{{ featuredPost.data.category | default('RECETTE') }}</span>
                        <div class="poppins-regular-blog-date">{{ featuredPost.date | date('dd MMMM yyyy') }}</div>
                        <h2 class="poppins-regular-titre-blog">
                            <a href="{{ featuredPost.url }}" style="text-decoration: none; color: inherit;">{{ featuredPost.data.title | default('Titre de l\'article en vedette') }}</a>
                        </h2>


                        <div class="poppins-regular-blog">{{ featuredPost.content | truncateWords(20) }}</div><!-- Limité à 20 mots avec "..." -->
                        <a href="{{ featuredPost.url }}" class="btn btn-custom">
    <img src="{{ '/images/blog/baby-nipple-blog.svg' | url }}" class="bouton-tetine" alt="Lire l'article sur les meilleures activités pour enfants chez Céline, nounou à Brétigny-sur-Orge">
                        </a>
                    </div> <!-- Fin de card-body text-center -->

                {% else %}
                    <p>Aucun article trouvé.</p>
                {% endif %}
            </div> <!-- Fin de l'article vedette -->


            <!-- Liste des autres articles avec pagination -->
            <div class="row"> <!-- Début de la ligne des autres articles -->
                {% for post in pagination.items %}
                    <!-- Vérifie si ce n'est pas l'article en vedette -->
                    {% if post != featuredPost %}
                        <div class="col-lg-6 mb-4"> <!-- Début de la colonne pour chaque autre article -->
                            <div class="card-articles"> <!-- Début de la carte de l'article -->
                                <a href="{{ post.url }}">

                                   {% image post.data.featuredImage | default('https://dummyimage.com/700x350/dee2e6/6c757d.jpg'), post.data.title | default('Image de l\'article'), '(min-width: 1024px) 100vw, 50vw' %} 
                                   
                                </a>

{% include "layouts/widget/partage-article-reseaux.njk" %} <!-- Inclusion du partage-article-reseaux -->

                                <div class="card-body text-center"> <!-- Début du corps de la carte de l'article -->
                                    <span class="badge text-bg-secondary">{{ post.data.category | default('ACTIVITE') }}</span>
                                    <div class="poppins-regular-blog-date">{{ post.date | date('dd MMMM yyyy') }}</div>
                                    <h2 class="poppins-regular-titre-blog">
                                        <a href="{{ post.url }}" style="text-decoration: none; color: inherit;">{{ post.data.title | default('Titre de l\'article') }}</a>
                                    </h2>

                                   <div class="poppins-regular-blog">{{ post.content | truncateWords(20) }}</div><!-- Limité à 20 mots avec "..." -->
                                   <a href="{{ post.url }}" class="btn btn-custom">
                                <img src="{{ '/images/blog/baby-nipple-blog.svg' | url }}" class="bouton-tetine" alt="Lire l'article sur les meilleures activités pour enfants chez Céline, nounou à Brétigny-sur-Orge">
                                </a>
</div> <!-- Fin de card-body text-center -->
</div> <!-- Fin de la carte de l'article -->
</div> <!-- Fin de la colonne pour chaque autre article -->

               
                    {% endif %}
                {% endfor %}

    </div> <!-- Fin de la ligne des autres articles -->


{% include "layouts/widget/pagination.njk" %} <!-- Inclusion de la pagination -->


    </div> <!-- Fin de la colonne des articles -->


<!-- Colonne de la barre latérale -->
{% include "layouts/widget/barre-laterale-blog.njk" %} <!-- Inclusion des widgets latéraux -->


</div> <!-- Fin de la ligne -->
</div> <!-- Fin du conteneur -->


</section> <!-- Fin de la section du contenu du blog -->



{% include "layouts/widget/newsletter.njk" %} <!-- Inclusion de la newsletter -->


   <script async src="https://cse.google.com/cse.js?cx=11cceee9558b14788">
    </script>


<!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '1130594');
</script>
<!-- End MailerLite Universal -->



















