---
layout: layouts/base.njk
title: "Foire aux questions - Céline Hubert, assistante maternelle agréée à Brétigny-sur-Orge"
description: "Découvrez tout sur la convention collective, la législation applicable, les démarches à effectuer pour embaucher une assistante maternelle, les aides financières, et les tarifs de garde d'enfants."
url: "https://chubert91assmat.netlify.app/faq"
image: "faq-celine-assistante-maternelle.jpg"
eleventyNavigation:
  key: FAQ
  order: 3
permalink: /faq/
bodyClass: "bg-white faq"
---


  
<!-- Icône de défilement vers le haut utilisant une image SVG -->
<a href="#faq" class="scroll-to-top">
  <img class="rocket-icon" src="{{ '/images/rocket-svgrepo-com.svg' | url }}" alt="Icône fusée navigation vers le haut" />
</a>



<section id="faq" class="container-fluid py-5 rubrique-frame">
    <div class="row">
        <!-- Image plus grande pour les écrans de bureau -->
        <img src="{{ '/images/faq/nuages-bleus-dessins-naifs-faq-large.png' | url }}" class="faq-bottom-curvy desktop-image" alt="png image illustration questions">

        <!-- Image plus petite pour les écrans mobiles -->
        <img src="{{ '/images/faq/nuages-bleus-dessins-naifs-faq-small.png' | url }}" class="faq-bottom-curvy mobile-image" alt="png image illustration questions">

        <div class="col-md-12 d-flex justify-content-center">
            <div class="faq-section">
                <div class="profile-text text-center">
                    <!-- Titre principal de la page -->           
                    <h1 class="poppins-bold-faq-title">LA PHASE DU « POURQUOI ? »</h1>
                    <!-- Texte qui apparaît et disparaît en boucle -->
                    <p class="fade-in-out-faq">Ne concerne pas que les enfants ...</p>

                    <!-- Introduction générale -->
                    <p class="poppins-regular-faq">En tant que parents, vous connaissez tous cette phase des « pourquoi ? » du « combien ? » et « comment ? » lorsqu'il s'agit de gérer la relation contractuelle avec une assistante maternelle agréée. Chez Céline, salaire ne rime pas avec galère ! Pour vous aider à vivre cette aventure sereinement, j'ai préparé cette FAQ qui répondra à toutes vos questions :</p>
                </div>

                <!-- Espacement entre le titre et le paragraphe -->
                <div class="faq-spacer"></div>
                    
<ul class="faq-list">
   



   <li>
    <hr class="faq-separator">

    <div class="faq-header">
        <h2 class="poppins-regular-faq">QU'EST CE QUE LA CONVENTION COLLECTIVE ?</h2>
        <button class="btn-toggle" id="toggle-convention" title="Toggle Description convention" onclick="toggleDescription()">
            <i class="fas fa-plus"></i> <span class="sr-only">Toggle Description convention</span>
        </button>
    </div>

    <div class="faq-description">
        <p>Depuis le 1er janvier 2022, le secteur des particuliers employeurs et de l’emploi à domicile est régi par une nouvelle convention collective unique. Ce cadre juridique modernisé assure une relation d'emploi sereine durant la relation contractuelle.</p>

        <!-- Espacement entre le titre et le paragraphe -->
        <div class="convention-spacer"></div>

        <p>
            Retrouvez la <a href="https://www.legifrance.gouv.fr/conv_coll/id/KALICONT000044594539" target="_blank" class="styled-link">convention collective</a> sur le site Légifrance en cliquant sur l'icône. Téléchargez la C.C.N en PDF et faites vos recherches rapides avec l'outil ChatPDF.
        </p>

        <div class="faq-keywords">
            <!-- Insérez ici vos routine-keyword-container -->
            <div class="faq-keyword-container">
                <div class="faq-keyword-wrapper">
                    <span class="faq-keyword">ICI la C.C.N</span>
                    <div class="icon-container">
                        <a href="https://www.legifrance.gouv.fr/conv_coll/id/KALITEXT000043941642?init=true&page=1&query=Convention+collective+nationale+des+particuliers+employeurs+et+de+l%27emploi+%C3%A0+domicile+du+15+mars+2021+-+%C3%89tendue+par+arrêté+du+6+octobre+2021+JORF+16+octobre+2021&searchField=ALL" target="_blank">
                           <img src="{{ '/images/faq/ccn-svgrepo-com.svg' | url }}" class="doudou" alt="Icône représentant la convention collective des assistantes maternelles" />
                        </a>
                    </div><!-- Fermeture de icon-container -->
                </div><!-- Fermeture de routine-keyword-wrapper -->
            </div><!-- Fermeture de routine-keyword-container -->

            <!-- Insérez ici vos routine-keyword-container -->
            <div class="faq-keyword-container">
                <div class="faq-keyword-wrapper">
                    <span class="faq-keyword">ICI CHAT PDF</span>
                    <div class="icon-container">
                        <a href="https://www.chatpdf.com/" target="_blank">
                            <img src="{{ '/images/faq/cat-svgrepo-com.svg' | url }}" class="doudou" alt="Icône d'un outil de chat PDF pour les assistantes maternelles" />
                        </a>
                    </div><!-- Fermeture de icon-container -->
                </div><!-- Fermeture de faq-keyword-wrapper -->
            </div><!-- Fermeture de faq-keyword-container -->
        </div>
    </div>
</li>





   <li>
    <hr class="faq-separator">
    <div class="faq-header">
        <h2 class="poppins-regular-faq">LEGISLATION APPLICABLE</h2>
        <button class="btn-toggle" id="toggle-legislation" title="Toggle familles" onclick="toggleDescription()">
            <i class="fas fa-plus"></i> <span class="sr-only">Toggle Description familles</span>
        </button>
    </div>
    <div class="faq-description">
        <p>Le contrat de travail des assistantes maternelles est encadré par une hiérarchie de textes : le Code du travail fixe le cadre général, le CASF s'applique spécifiquement à la profession, puis vient la Convention Collective Nationale (CCN), et enfin les clauses spécifiques du contrat, qui prévalent sur tout le reste dans les limites de la loi.</p>
        
        <!-- Espacement entre le titre et le paragraphe -->
        <div class="convention-spacer"></div>

        <h3>
            <span>
                <img src="{{ '/images/faq/book-and-magnifying-glass-svgrepo-com.svg' | url }}" class="checked-legislation" alt="icône page avec loupe legislation">
            </span>
            <strong>La C.C.N:</strong>
        </h3>
        <p class="poppins-regular-faq-text">
            Convention collective du secteur des particuliers employeurs et de l’emploi à domicile, (en vigueur depuis le 1er janvier 2022).
        </p>

        <h3>
            <span>
                <img src="{{ '/images/faq/book-and-magnifying-glass-svgrepo-com.svg' | url }}" class="checked-legislation" alt="icône page avec loupe legislation">
            </span>
            <strong>Code CASF:</strong>
        </h3>
        <p class="poppins-regular-faq-text">
            Code de l’action sociale et des familles. Articles 
            <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000006798025?dateVersion=21%2F09%2F2023&nomCode=V3JscA%3D%3D&page=1&query=L.423-1&searchField=ALL&tab_selection=code&typeRecherche=date" target="_blank" class="styled-link">L.423-1</a> et suivants, 
            <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000018261020?dateVersion=21%2F09%2F2023&nomCode=V3JscA%3D%3D&page=1&query=D.+423-5&searchField=ALL&tab_selection=code&typeRecherche=date" target="_blank" class="styled-link">D.423-5</a> et suivants.
        </p>

        <h3>
            <span>
                <img src="{{ '/images/faq/book-and-magnifying-glass-svgrepo-com.svg' | url }}" class="checked-legislation" alt="icône page avec loupe legislation">
            </span>
            <strong>Le Code du travail:</strong>
        </h3>
        <p class="poppins-regular-faq-text">
            Pour certains articles listés à l’article 
            <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000047293307?dateVersion=21%2F09%2F2023&nomCode=V3JscA%3D%3D&page=1&query=L.423-2&searchField=ALL&tab_selection=code&typeRecherche=date" target="_blank" class="styled-link">L.423-2</a> du CASF.
            Articles sur la maternité 
            <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000006900880?dateVersion=21%2F09%2F2023&nomCode=mjXqUg%3D%3D&page=1&query=L.1225-1&searchField=ALL&tab_selection=code&typeRecherche=date" target="_blank" class="styled-link">L.1225-1</a>, 
            Congés payés 
            <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000033020826?dateVersion=21%2F09%2F2023&nomCode=mjXqUg%3D%3D&page=1&query=L.+3141-3&searchField=ALL&tab_selection=code&typeRecherche=date" target="_blank" class="styled-link">L.3141-3</a>, 
            Événements familiaux 
            <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000045205234" target="_blank" class="styled-link">L.3142-1</a>, 
            Paiement du salaire 
            <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000044605341" target="_blank" class="styled-link">L.3241-1</a>, 
            et Mensualisation 
            <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000006902858" target="_blank" class="styled-link">L.3242-1</a>.
        </p>

        <h3>
            <span>
                <img src="{{ '/images/faq/book-and-magnifying-glass-svgrepo-com.svg' | url }}" class="checked-legislation" alt="icône page avec loupe legislation">
            </span>
            <strong>Code de la sécurité sociale:</strong>
        </h3>
        <p class="poppins-regular-faq-text">
            Articles sur les accidents du travail et maladies professionnelles 
            <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000047452603?dateVersion=21%2F09%2F2023&nomCode=CKHyIA%3D%3D&page=1&query=L.+411-1&searchField=ALL&tab_selection=code&typeRecherche=date" target="_blank" class="styled-link">L.411-1</a>, 
            <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000036393217" target="_blank" class="styled-link">L.461-1 à 8</a>, 
            <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000006750477?dateVersion=21%2F09%2F2023&nomCode=CKHyIA%3D%3D&page=1&query=R.+461-1&searchField=ALL&tab_selection=code&typeRecherche=date" target="_blank" class="styled-link">R.461-1</a>.
            Les articles du Code du travail sur la durée du travail, le temps partiel, l’entretien préalable et la cause réelle et sérieuse pour un licenciement (retrait d’enfant) ne s’appliquent pas.
        </p>
    </div>
</li>






    <li>
    <hr class="faq-separator">
    <div class="faq-header">
        <h2 class="poppins-regular-faq">LES AIDES</h2>
        <button class="btn-toggle" id="toggle-aides" title="Toggle aides" onclick="toggleDescription('faq-details')">
            <i class="fas fa-plus"></i> <span class="sr-only">Toggle Description aides</span>
        </button>
    </div>
    <div class="faq-description">
        <p><strong>• Les prestations de la PAJE et le complément de libre choix du mode de garde (CMG) :</strong> Ces aides sont versées par la CAF pour réduire le coût de la garde.</p>

        <p><strong>• Le crédit d’impôt :</strong> Vous pouvez bénéficier d'un crédit d'impôt pour les frais de garde d'enfants de moins de 6 ans.</p>

        <p><strong>• Le CESU préfinancé :</strong> Les chèques CESU préfinancés peuvent être partiellement ou totalement financés par plusieurs entités, telles que l'entreprise des parents, le comité d'entreprise (CE), des organismes publics (comme les conseils généraux, régions ou municipalités), ou les parents eux-mêmes. Ils permettent de réduire les frais de garde en étant utilisés directement pour payer l’assistante maternelle agréée.</p>

        <h3 class="poppins-faq-hidden"><strong>Autres bons plans :</strong></h3>
        <p>• Les aides de votre région ou de votre département.</p>
        <p>• Les aides de certaines municipalités.</p>
        <p>• Si vous travaillez dans la fonction publique et dans le cas où vous ne dépassez pas un certain plafond de salaire, vous pouvez bénéficier des chèques « C.E.S.U. fonction publique » (entre 220 à 655€ annuels).</p>

        <h3 class="poppins-faq-hidden"><strong>Fonctionnement des aides :</strong></h3>
        <p>En crèche, les aides sont déduites du montant total, vous laissant le solde à payer. Avec une assistante maternelle agréée, vous payez le salaire NET, puis déduisez vos aides (CMG, CESU préfinancés, et crédit d'impôt) pour déterminer votre reste à charge.</p>

        <p>Pour vous aider à comprendre ces coûts, je vous fournirai un tableau de mensualisation lors de notre rendez-vous de signature. Ce tableau vous donnera une vision claire des montants à prévoir et de votre budget final.</p>
    </div>
</li>


	<li>
    <hr class="faq-separator">
    <div class="faq-header">
        <h2 class="poppins-regular-faq">DEMARCHES A EFFECTUER</h2>
        <button class="btn-toggle" id="toggle-demarches" title="Toggle demarches" onclick="toggleDescription()">
            <i class="fas fa-plus"></i> <span class="sr-only">Toggle Description demarches</span>
        </button>
    </div>
    <div class="faq-description">
        <h3>
            <span>
             <img src="{{ '/images/faq/check-square-svgrepo-com.svg' | url }}" class="checked-demarches" alt="icône check carré de validation démarches">
            </span>
            <strong>Réserver ma place.</strong>
        </h3>
        <p class="poppins-regular-faq-text">Rédigez un engagement réciproque, qui est un accord écrit entre vous et l'assistante maternelle. Cet accord assure à la famille une place réservée pour la période de son choix. En contrepartie, l'assistante maternelle s'engage à arrêter ses recherches et à bloquer la place.</p>

        <h3>
            <span>
             <img src="{{ '/images/faq/check-square-svgrepo-com.svg' | url }}" class="checked-demarches" alt="icône check carré de validation démarches">
            </span>
            <strong>Faire mes démarches pour le CMG.</strong>
        </h3>
        <p class="poppins-regular-faq-text">La demande de CMG (Complément de libre choix du mode de garde) doit être effectuée quelques mois avant l’embauche d’un salarié ou le recours à une structure. Pour faire une demande, rendez-vous sur caf.fr. La CAF déclarera ensuite l’emploi de l'assistante maternelle au centre national Pajemploi. Vous recevrez un identifiant par courrier pour vous connecter à Pajemploi.</p>

        <h3>
            <span>
                <img src="{{ '/images/faq/check-square-svgrepo-com.svg' | url }}" class="checked-demarches" alt="icône check carré de validation démarches">
            </span>
            <strong>Signer le contrat de travail.</strong>
        </h3>
        <p class="poppins-regular-faq-text">Le contrat de travail doit être signé au plus tard le jour de l’embauche. Il doit être rédigé par écrit et signé en deux exemplaires, un pour chaque partie, afin de formaliser l'accueil.</p>

        <h3>
            <span>
                <img src="{{ '/images/faq/check-square-svgrepo-com.svg' | url }}" class="checked-demarches" alt="icône check carré de validation démarches">
            </span>
            <strong>Déclaration à PAJEMPLOI.</strong>
        </h3>
        <p class="poppins-regular-faq-text">Avec le code employeur fourni après votre demande de CMG, vous pourrez déclarer le salaire de l'assistante maternelle à l'URSSAF sur Pajemploi à la fin de chaque mois. Cela permettra le versement de votre prestation CMG.</p>

        <h3>
            <span>
                <img src="{{ '/images/faq/check-square-svgrepo-com.svg' | url }}" class="checked-demarches" alt="icône check carré de validation démarches">
            </span>
            <strong>La fin de contrat.</strong>
        </h3>
        <p class="poppins-regular-faq-text">Que ce soit à l'initiative du parent ou de l'assistante maternelle, la lettre de fin de contrat doit être adressée par courrier recommandé avec accusé de réception ou remise en main propre contre décharge.</p>

        <h3>
            <span>
                 <img src="{{ '/images/faq/check-square-svgrepo-com.svg' | url }}" class="checked-demarches" alt="icône check carré de validation démarches">
            </span>
            <strong>Les documents administratifs.</strong>
        </h3>
        <p class="poppins-regular-faq-text">À la fin du contrat, qu'il s'agisse d'une démission ou d'un retrait de l'enfant par le parent, les documents suivants devront être remis :</p>
        
        <p class="poppins-regular-faq-text">• Une attestation France Travail</p>
        <p class="poppins-regular-faq-text">• Un certificat de travail</p>
        <p class="poppins-regular-faq-text">• Un solde de tout compte</p>

        <p class="poppins-regular-faq-text">Les trois documents doivent être remis le dernier jour de préavis. Si l'assistante maternelle ne réalise pas totalement le préavis à sa demande, l'employeur dispose de deux semaines après la fin du contrat pour les remettre. Un dernier bulletin de salaire, incluant toutes les sommes versées lors de la rupture du contrat, doit être édité par l'URSSAF - Pajemploi. La déclaration doit être faite entre le 25 du mois d'emploi et le 5 du mois suivant, en respectant la date limite de paiement stipulée dans le contrat.</p>
    </div>
</li>





<li>
    <hr class="faq-separator">
    <div class="faq-header">
        <h2 class="poppins-regular-faq">LES SITES UTILES</h2>
        <button class="btn-toggle" id="toggle-sites" title="Toggle demarches" onclick="toggleDescription()">
            <i class="fas fa-plus"></i> <span class="sr-only">Toggle Description demarches</span>
        </button>
    </div>
    <div class="faq-description">
        <p>
            <a href="https://www.caf.fr/" target="_blank" class="styled-link-sites">https://www.caf.fr</a>
        </p>
        <p>
            <a href="https://www.pajemploi.urssaf.fr/pajewebinfo/cms/sites/pajewebinfo/accueil.html" target="_blank" class="styled-link-sites">https://www.pajemploi.urssaf.fr</a>
        </p>
        <p>
            <a href="https://www.francetravail.fr/accueil/" target="_blank" class="styled-link-sites">https://www.francetravail.fr</a>
        </p>
        <p>
            <a href="https://www.facebook.com/groups/unsa.assmat" target="_blank" class="styled-link-sites">UNSA-PROASSMAT juridique et postures PRO</a>
        </p>
        <p>
            <a href="https://www.fepem.fr/" target="_blank" class="styled-link-sites">https://www.fepem.fr</a>
        </p>
        <p>
            <a href="https://www.urssaf.fr/accueil.html" target="_blank" class="styled-link-sites">https://www.urssaf.fr</a>
        </p>
        <p>
            <a href="https://www.service-public.fr/" target="_blank" class="styled-link-sites">https://www.service-public.fr</a>
        </p>
        <p>
            <a href="https://www.cr-cesu.fr/cesu-prefinance/" target="_blank" class="styled-link-sites">https://www.cr-cesu.fr/cesu-prefinance/</a>
        </p>
    </div>
</li>



<li>
    <hr class="faq-separator">
    <div class="faq-header">
        <h2 class="poppins-regular-faq">QUEL EST LE TARIF ?</h2>
        <button class="btn-toggle" id="toggle-disparite" title="Toggle disparite" onclick="toggleDescription()">
            <i class="fas fa-plus"></i> <span class="sr-only">Toggle Description disparite</span>
        </button>
    </div>
    <div class="faq-description">
        <p class="poppins-regular-faq-text">Le tarif est calculé en fonction de vos besoins spécifiques en matière d’accueil. Pour vous fournir une estimation précise et adaptée, nous commençons par un premier rendez-vous sans engagement. Cet échange me permet de bien comprendre vos attentes afin de vous proposer un tarif personnalisé et juste.</p>
        <p class="poppins-faq-hidden">
            <strong>Contrairement à la crèche, où votre participation augmente chaque année avec la revalorisation du plafond de ressources, mon salaire et l'indemnité d'entretien restent stables sur 2 à 3 ans sans avenant. De plus, votre reste à charge diminue progressivement grâce aux revalorisations de l'aide CMG. Ces petites économies mensuelles deviennent significatives sur 3 ans !</strong>
        </p>
    </div>
</li>

                    <li>
    <hr class="faq-separator">
    <div class="faq-header">
        <h2 class="poppins-regular-faq">COMMENT CALCULER LE COÛT DE LA PLACE ET LES INDEMNITÉS ?</h2>
        <button class="btn-toggle" id="toggle-place" title="Toggle place" onclick="toggleDescription()">
            <i class="fas fa-plus"></i> <span class="sr-only">Toggle Description place</span>
        </button>
    </div>
    <div class="faq-description">
        <h3>
            <span>
             <img src="{{ '/images/faq/money-bag-svgrepo-com.svg' | url }}" class="checked-money" alt="icône important">
            </span>
            <strong>Déterminez votre montant du CMG.</strong>
        </h3>
        <p class="poppins-regular-faq-text">Pour commencer, déterminez votre montant du Complément de libre choix du Mode de Garde (CMG) en fonction de vos ressources sur le site 
            <a href="https://www.service-public.fr/particuliers/vosdroits/F345" target="_blank" class="styled-link">service-public.fr</a>
        </p>
        <p>Ensuite consultez: "Quel est le montant du complément de libre choix du mode de garde ?"</p>

        <h3>
            <span>
               <img src="{{ '/images/faq/money-bag-svgrepo-com.svg' | url }}" class="checked-money" alt="icône important">
            </span>
            <strong>Un taux horaire validé par la CAF.</strong>
        </h3>
        <p class="poppins-regular-faq-text">La CAF fixe un taux horaire plafond en fonction de votre besoin d'accueil. Ce plafond est conçu pour être juste et cohérent, aligné avec les autres modes d'accueil. Je respecte ce plafond journalier fixé par la CAF ; mon barème tarifaire est calculé en fonction de ce plafond et de vos besoins, garantissant ainsi un équilibre entre un salaire décent pour l'assistante maternelle et l'éligibilité à l'aide CMG pour le parent. L'objectif est que ni l'assistante maternelle ni le parent ne soient lésés.</p>

        <h3>
            <span>
                <img src="{{ '/images/faq/money-bag-svgrepo-com.svg' | url }}" class="checked-money" alt="icône important">
            </span>
            <strong>Le coût réel par heure.</strong>
        </h3>
        <p class="poppins-regular-faq-text">Le taux horaire sert uniquement à calculer le salaire de l'assistante maternelle. Il ne doit pas être confondu avec le coût réel par heure, qui est important et intéressant à connaître pour vous. Vous constaterez que ce coût réel est comparable à celui des crèches.</p>

        <h3>
            <span>
                 <img src="{{ '/images/faq/money-bag-svgrepo-com.svg' | url }}" class="checked-money" alt="icône important">
            </span>
            <strong>Le reste à charge.</strong>
        </h3>
        <p class="poppins-regular-faq-text">Le salaire net de l'assistante maternelle ne correspond pas à votre reste à charge. Pour déterminer ce reste à charge, vous devez déduire du salaire net le montant du CMG (Complément de libre choix du Mode de Garde), le crédit d'impôt, ainsi que le montant des CESU préfinancés, si vous y avez droit.</p>

        <h3>
            <span>
                <img src="{{ '/images/faq/money-bag-svgrepo-com.svg' | url }}" class="checked-money" alt="icône important">
            </span>
            <strong>L'indemnité d'entretien.</strong>
        </h3>
        <p class="poppins-regular-faq-text">Le montant minimum légal de l'indemnité d'entretien est calculé en fonction de l'amplitude horaire la plus importante. Pour obtenir ce montant, renseignez les informations concernant vos besoins d'accueil sur le site 
            <a href="https://www.service-public.fr/simulateur/calcul/IndemniteEntretienAssistanteMaternelle" target="_blank" class="styled-link">service-public.fr</a>. Comme le minimum légal peut augmenter régulièrement, j'ajoute 60 centimes pour garantir un montant stable tout au long de la durée du contrat.</p>

        <h3>
            <span>
                 <img src="{{ '/images/faq/money-bag-svgrepo-com.svg' | url }}" class="checked-money" alt="icône important">
            </span>
            <strong>L'indemnité de repas.</strong>
        </h3>
        <p class="poppins-regular-faq-text">Mon indemnité de repas est calculée en fonction de l'âge de l'enfant et de l'inflation, en me basant sur le montant en vigueur au 1er janvier, tel qu'indiqué sur le site 
            <a href="https://www.pajemploi.urssaf.fr/pajewebinfo/cms/sites/pajewebinfo/accueil/employeur-de-garde-denfants-a-do/je-minforme/le-cout-de-la-garde.html" target="_blank" class="styled-link">pajemploi.urssaf.fr</a>. Vous trouverez cette information dans la rubrique « Les prestations en nature ». Vous avez la possibilité de fournir le repas ; rien n'est imposé.</p>
    </div>
</li>






                       <li>
    <hr class="faq-separator">
    <div class="faq-header">
        <h2 class="poppins-regular-faq">COMMENT PUIS-JE RÉGLER LE SALAIRE ?</h2>
        <button class="btn-toggle" id="toggle-reglement" title="Toggle demarches" onclick="toggleDescription()">
            <i class="fas fa-plus"></i> <span class="sr-only">Toggle Description demarches</span>
        </button>
    </div>
    <div class="faq-description">
        <h3>
            <span>
             <img src="{{ '/images/faq/credit-card-credit-svgrepo-com.svg' | url }}" class="checked-salaire" alt="icône carte de crédit paiement">
            </span>
            <strong>Par virement bancaire :</strong>
        </h3>
        <p class="poppins-regular-faq-text">Le règlement s'effectue par virement bancaire. Je vous transmettrai un RIB pour procéder au paiement.</p>
        
        <h3>
            <span>
               <img src="{{ '/images/faq/credit-card-credit-svgrepo-com.svg' | url }}" class="checked-salaire" alt="icône carte de crédit paiement">
            </span>
            <strong>Par CESU :</strong>
        </h3>
        <p class="poppins-regular-faq-text">Je n'accepte que les Chèques Emploi Service Universel (CESU) préfinancés <strong>dématérialisés.</strong> Je vous fournirai mon numéro d'affiliation nationale (NAN), nécessaire pour le virement en ligne.</p>

        <h3>
            <span>
              <img src="{{ '/images/faq/credit-card-credit-svgrepo-com.svg' | url }}" class="checked-salaire" alt="icône carte de crédit paiement">
            </span>
            <strong>Date de paiement :</strong>
        </h3>
        <p class="poppins-regular-faq-text">Je propose de régler le salaire le 5 de chaque mois. Cependant, nous pouvons convenir d'une autre date si nécessaire. L'essentiel est de respecter la date de paiement mentionnée dans le contrat pour éviter tout retard.</p>

        <h3>
            <span>
               <img src="{{ '/images/faq/credit-card-credit-svgrepo-com.svg' | url }}" class="checked-salaire" alt="icône carte de crédit paiement">
            </span>
            <strong>Des difficultés de paiement ?</strong>
        </h3>
        <p class="poppins-regular-faq-text">Un contrat est un engagement mutuel. En cas de non-paiement ou d'accumulation de dettes, cela peut entraîner la rupture du contrat et l'arrêt de l'accueil de votre enfant. La situation pourra nécessiter une action en justice pour résilier le contrat à vos torts exclusifs, en saisissant le Conseil des Prud'hommes, plutôt qu'une démission de ma part. Cette option pourrait entraîner des intérêts de retard ainsi que des dommages et intérêts à votre charge.</p>
    </div>
</li>


                           <li>
    <hr class="faq-separator">
    <div class="faq-header">
        <h2 class="poppins-regular-faq">GUIDE POUR REMPLIR L'ATTESTATION EMPLOYEUR</h2>
        <button class="btn-toggle" id="toggle-travail" title="Toggle travail" onclick="toggleDescription()">
            <i class="fas fa-plus"></i> <span class="sr-only">Toggle Description travail</span>
        </button>
    </div>
    <div class="faq-description">
        <p>
            Pour créer un "espace employeur" sur 
            <a href="https://www.francetravail.fr/employeur/vous-etes-un-particulier-employe.html" target="_blank" class="styled-link">le site de France Travail</a> utilisez votre identifiant URSSAF (Pajemploi), que vous pouvez trouver dans votre lettre de bienvenue, votre espace personnel en ligne, vos e-mails de confirmation, ou en contactant le service client de Pajemploi ou de l'URSSAF. Vous recevrez ensuite un code d'accès par e-mail. Je vous fournirai une saisie personnalisée pour vous guider.
        </p>
        
        <p>Les étapes à suivre:</p>
        
        <h3><strong>1. Employeur</strong></h3>
        <p class="poppins-regular-faq-text">Les informations sont préremplies selon votre inscription.</p>

        <h3><strong>2. Salarié</strong></h3>
        <p class="poppins-regular-faq-text">Renseignez les coordonnées, le numéro de Sécurité Sociale, et l'organisme de retraite (IRCEM).</p>

        <h3><strong>3. Emploi</strong></h3>
        <p class="poppins-regular-faq-text">Indiquez la durée de l'emploi, le dernier poste occupé, les détails du préavis, et les heures de travail hebdomadaires.</p>

        <h3><strong>4. Motif de la rupture</strong></h3>
        <p class="poppins-regular-faq-text">Sélectionnez le motif, généralement "Retrait de l'enfant".</p>

        <h3><strong>5. Salaires des 25 derniers mois</strong></h3>
        <p class="poppins-regular-faq-text">Indiquez les salaires bruts de chaque mois en utilisant les fiches de paie de Pajemploi. Ajustez pour 37 mois si la salariée a plus de 53 ans.</p>

        <p>
            <span>
            <img src="{{ '/images/faq/enter-outline-svgrepo-com.svg' | url }}" class="enter-salaires" alt="icône entrée saisie salaires bruts">
            </span>
            Période de paie : Par exemple, de la date d'embauche 07/10/2019 au 31/10/2019, puis du 01/11/2019 au 30/11/2019, puis du 01/08/2022 au 27/08/2022 pour le mois du dernier jour travaillé.
        </p>

        <p>
            <span>
                <img src="{{ '/images/faq/enter-outline-svgrepo-com.svg' | url }}" class="enter-salaires" alt="icône entrée saisie salaires bruts">
            </span>
            Temps de travail payé : Additionnez les heures normales et majorées si applicable.
        </p>

        <p>
            <span>
                <img src="{{ '/images/faq/enter-outline-svgrepo-com.svg' | url }}" class="enter-salaires" alt="icône entrée saisie salaires bruts">
            </span>
            Jours non payés : Soustrayez les jours d'activité des jours calendaires du mois (ex : 31 jours - 17 jours d'activité = 14 jours non payés).
        </p>

        <p>
            <span>
                <img src="{{ '/images/faq/enter-outline-svgrepo-com.svg' | url }}" class="enter-salaires" alt="icône entrée saisie salaires bruts">
            </span>
            Salaire mensuel brut : Consultez la colonne "base" du bulletin de paie Pajemploi (ne pas saisir les montants des deux premières lignes CSG).
        </p>

        <h3><strong>6. Primes</strong></h3>
        <p class="poppins-regular-faq-text">Mentionnez toute prime exceptionnelle en argent (comme une prime de Noël).</p>

        <h3><strong>7. Sommes versées à la rupture</strong></h3>
        <p class="poppins-regular-faq-text">Incluez les indemnités de congés payés non pris et autres indemnités liées à la rupture.</p>

        <h3><strong>8. Authentification</strong></h3>
        <p class="poppins-regular-faq-text">Inscrivez votre nom en tant qu'employeur, précisez la cause de la rupture ("Retrait d'enfant"), et signez l'attestation.</p>

        <h3><strong>Validez en ligne et remettez une copie imprimée et signée à l'assistante maternelle.</strong></h3>
    </div>
</li>

                                  
                    
                  
   
</ul>
<hr class="faq-separator">

<!-- Espacement entre le titre et le paragraphe -->
<div class="mentions-spacer"></div>

</div> <!-- profile-text -->

</div> <!-- Fermeture de la col-md-12 -->

<!-- SVG qui doit être placé au-dessus de la carte -->
 <img src="{{ '/images/mentions-legales/bottom-mentions.svg' | url }}" class="map-top-curvy" alt="SVG Description">

</div> <!-- Fermeture de la row -->

</section> <!-- Fermeture de la section -->




<!-- Autres contenus précédents -->


<script>
    function toggleDescription() {
    const button = document.querySelector('.btn-toggle');

    // Ajouter la classe seulement si elle n'est pas déjà présente
    if (!button.classList.contains('button-text-visible')) {
        button.classList.add('button-text-visible');
    }
}

</script>




<script>
    document.addEventListener('DOMContentLoaded', function () {
      // Récupérez tous les boutons "+" dans la section "Diplômes"
      const toggleButtonsfaq = document.querySelectorAll('.btn-toggle');
      const specificTitlesfaq = document.querySelectorAll('.faq-title-specific');
  
      // Ajoutez un gestionnaire d'événement à chaque bouton "+"
      toggleButtonsfaq.forEach((button, index) => {
        button.addEventListener('click', () => {
          // Trouvez la description de diplôme correspondante
          const descriptions = document.querySelectorAll('.faq-description');
          
          // Vérifiez si l'index est valide
          if (index < descriptions.length) {
            const description = descriptions[index];
  
            // Vérifiez si la description existe et si elle est visible ou cachée
            const isVisible = description && window.getComputedStyle(description).display !== 'none';
  
            // Inversez la visibilité en ajoutant ou supprimant la classe 'visible'
            if (isVisible) {
              description.style.display = 'none'; // Cachez la description
              button.innerHTML = '<i class="fas fa-plus"></i>'; // Changez l'icône du bouton en "+"
            } else {
              description.style.display = 'block'; // Affichez la description
              button.innerHTML = '<i class="fas fa-minus"></i>'; // Changez l'icône du bouton en "-"
            }
          }
        });
      });
  
     
        });
  
  
  </script>
  
  <script>
  function toggleDescriptionmagie(id, btn) {
  var element = document.getElementById(id);
  if (element) {
    if (element.style.display === "none" || element.style.display === "") {
      element.style.display = "block";
      btn.innerHTML = '<span><strong>En savoir moins</strong></span><i class="fas fa-minus"></i>';
    } else {
      element.style.display = "none";
      btn.innerHTML = '<span><strong>En savoir plus</strong></span><i class="fas fa-plus"></i>';
    }
  } else {
    console.error("Element with ID '" + id + "' not found.");
  }
}
    </script>
