---
layout: layouts/base.njk
title: "Céline Hubert - Assistante Maternelle Agréée à Brétigny-sur-Orge"
description: "Découvrez l'accueil chaleureux et les services professionnels de Céline Hubert, assistante maternelle agréée à Brétigny-sur-Orge. Accueil individuel, activités ludiques et soutien administratif pour les parents."
url: "https://chubert91assmat.netlify.app"
image: "presentation-assistante-maternelle-agreee.jpg"
eleventyNavigation:
  key: PRESENTATION
  order: 1
permalink: /
bodyClass: "bg-white presentation"
---


    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "LocalBusiness",
          "name": "Assistante maternelle agréée - chez Céline",
          "image": "presentation-assistante-maternelle-agreee.jpg",
          "priceRange": "Fixé en fonction de vos besoins d'accueil",
          "description": "Assistante maternelle agréée proposant un accueil personnalisé pour les enfants. Les tarifs sont définis en fonction des besoins spécifiques de chaque famille.",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "22 Rue du Parc",
            "addressLocality": "Brétigny-sur-Orge",
            "addressRegion": "Essonne",
            "postalCode": "91220",
            "addressCountry": "FR"
          },
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "5",
            "reviewCount": "1"
          },
          "review": [
            {
              "@type": "Review",
              "itemReviewed": {
                "@type": "Service",
                "name": "Garde d'enfants",
                "description": "Services de garde d'enfants par une assistante maternelle agréée."
    
            },
                "contactPoint": {
                  "@type": "ContactPoint",
                  "contactType": "customer service",
                  "url": "https://chubert91assmat.netlify.app/contact"
    
              },
              "author": {
                "@type": "Person",
                "name": "Sophie NGO LEANG"
              },
              "reviewRating": {
                "@type": "Rating",
                "ratingValue": "5",
                "bestRating": "5"
              },
              "reviewBody": "Très belle expérience chez Céline avec notre fils, il a appris à être en collectivité, il a gagné en autonomie et il s'est épanoui ! Les petits plats maison et les gâteaux improvisés étaient très appréciés. Il est maintenant prêt pour rentrer à l'école ! Merci Céline pour l'accueil !"
            }
          ]
        }
        </script>
    


    

<!-- Icône de défilement vers le haut utilisant une image SVG -->
<a href="#portrait" class="scroll-to-top">
    <img class="rocket-icon" src="../images/rocket-svgrepo-com.svg" alt="Icône de fusée pour remonter en haut de la page de Céline Hubert, assistante maternelle à Brétigny-sur-Orge" />
</a>


<section id="portrait" class="container-fluid py-5 position-relative">
    <div class="row justify-content-center text-center position-relative">
        <!-- Ajout de la bande grise -->
       
        <div class="col-md-12">
            
            <!-- Ajout d'un titre pour la section -->
            <h1 class="heading-presentation">{{ title | default("Présentation Assistante Maternelle Agréée à Brétigny-sur-Orge") }}</h1>
            
           <img src="{{ '/images/presentation/arriere-plan-nuages-bleus-bretigny-assistante-maternelle.svg' | url }}" class="fond-curvy" alt="Illustration de nuages bleus représentant l'accueil chaleureux d'une assistante maternelle à Brétigny-sur-Orge">
        </div>
        <div class="bordered-content-presentation-image">
            <div class="presentation-image mx-auto position-relative mb-4">
               
 
{% image "/images/presentation/celine-hubert-assistante-maternelle-bretigny.jpg", "Céline Hubert, assistante maternelle à Brétigny-sur-Orge", "(min-width: 1024px) 100vw, 50vw", "rounded-circle img-fluid" %}



                <a href="{{ '/contact/' | url }}" class="position-icon-b">
                    <!-- Contenu de l'icône ou bouton -->
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="5em" height="5em" viewBox="0 41.206 800 717.588" enable-background="new 0 41.206 800 717.588"
                    xml:space="preserve">
               <g>
                   <path fill="#F07861" d="M672.067,41.206H127.986C53.053,41.206,0,92.101,0,169.159v284.424c0,70.98,49.116,128.113,127.986,128.113
                       h30.658c16.934,0,33.742,15.938,37.495,35.608l23.698,123.31c3.753,19.671,18.241,24.062,32.292,9.811l141.114-142.928
                       c14.087-14.25,41.719-25.801,61.753-25.801h217.048c77.021,0,127.949-63.023,127.949-128.113V169.159
                       C800,94.221,745.007,41.206,672.067,41.206z M161.385,370.739c-32.545,0-58.926-26.382-58.926-58.927s26.381-58.926,58.926-58.926
                       s58.926,26.381,58.926,58.926S193.913,370.739,161.385,370.739z M385.576,352.607c-22.518,0-40.796-18.277-40.796-40.795
                       s18.278-40.795,40.796-40.795s40.795,18.277,40.795,40.795C426.371,334.334,408.094,352.607,385.576,352.607z M638.632,370.739
                       c-32.545,0-58.926-26.382-58.926-58.927s26.381-58.926,58.926-58.926s58.927,26.381,58.927,58.926S671.177,370.739,638.632,370.739
                       z"/>
               </g>
               </svg>
                </a>

            </div>
        </div>
      
       

    </div>
</section>


<section id="services-garde-enfants" class="container-fluid py-5">
    <div class="services-garde-enfants-section section-wrapper">
        <div class="profile-text text-center">
            <h2 class="poppins-bold-titre-accueil">{{ accueilTitre | default("Céline, Assistante Maternelle Agréée") }}</h2>
            <p class="fade-in-out-bretigny">{{ sousTitreAccueil | default("à Brétigny-sur-Orge") }}</p>
        </div>

        <!-- Premier ligne -->
        <div class="row g-0">
            <!-- A PROPOS (Texte à gauche) -->
            <div class="col-md-6 p-0 d-flex align-items-center">
                <div class="services-garde-enfants-item w-100">
                    <div class="services-garde-enfants-text-space p-4">
                        
                        <h3 class="introduction-titre"><strong>{{ aProposTitre | default("A PROPOS") }}</strong></h3>
                        <hr class="horizontal-line">
                        <div class="description-atout-services">
                            <p class="poppins-regular-accueil">{{ aProposDescription | default("En 2016, après une immersion en tant que particulier-employeur, j'ai amorcé une reconversion professionnelle pour devenir assistante maternelle agréée. Trouver un mode de garde sécurisant pour notre premier enfant a renforcé ma conviction d'offrir un accueil personnalisé et de qualité aux familles.") }}</p>
                            
                            <!-- Bouton "lien interne" -->
                            <a href="{{ '/contact/' | url }}" class="btn btn-action-primary my-4">Accédez au formulaire de contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image à droite -->
            <div class="col-md-6 p-0">
                <div class="services-garde-enfants-item">
                    <div class="services-garde-enfants-image">
                        <div class="image-frame-services position-relative">

               {% image "/images/presentation/reconversion.jpg", "Reconversion", "(min-width: 1024px) 100vw, 50vw" %}


                    
                            <div class="image-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Deuxième ligne -->
        <div class="row g-0">
            <!-- ENVIRONNEMENT FAMILIAL (Texte à droite) -->
            <div class="col-md-6 order-md-2 p-0 d-flex align-items-center">
                <div class="services-garde-enfants-item w-100">
                    <div class="services-garde-enfants-text-space p-4">
                        <h3 class="introduction-titre"><strong>{{ environnementTitre | default("ENVIRONNEMENT FAMILIAL") }}</strong></h3>
                        <hr class="horizontal-line">
                        <div class="description-atout-services">
                            <p class="poppins-regular-accueil">{{ environnementDescription | default("Chaque enfant accueilli bénéficie de sa propre chambre dans un environnement calme, favorisant son bien-être, et profite d'interactions enrichissantes avec mes enfants plus âgés, contribuant à son développement psychomoteur, social et à son autonomie.") }}</p>
                            
                            <!-- Bouton "lien interne" -->
                            <a href="{{ '/projet-accueil/#routine' | url }}" class="btn btn-action-primary my-4">{{ boutonTexte | default("Découvrez notre routine") }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image à gauche -->
            <div class="col-md-6 order-md-1 p-0">
                <div class="services-garde-enfants-item">
                    <div class="services-garde-enfants-image">
                        <div class="image-frame-services position-relative">

 {% image "/images/presentation/anniversaire-accueilli.jpg", "Anniversaire accueilli", "(min-width: 1024px) 100vw, 50vw" %}
            
                            <div class="image-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <!-- Troisième ligne -->
<div class="row g-0">
    <!-- RATIO ENFANTS/ADULTES PLUS BAS (Texte à gauche) -->
    <div class="col-md-6 p-0 d-flex align-items-center">
        <div class="services-garde-enfants-item w-100">
            <div class="services-garde-enfants-text-space p-4">
                <h3 class="introduction-titre"><strong>{{ capacitesTitre | default("CAPACITES D'ACCUEIL") }}</strong></h3>
                <hr class="horizontal-line">
                <div class="description-atout-services">
                    <p class="poppins-regular-accueil">{{ capacitesDescription | default("Mon agrément limite le nombre d'enfants, offrant un ratio enfants/adulte plus bas que l'accueil collectif pour garantir une attention individualisée, une surveillance renforcée, et un cadre sécurisant lors des repas et de la sieste, tout en assurant un service de qualité basé sur les principes de la Protection maternelle et infantile.") }}</p>
                    
                    <!-- Bouton "lien interne" -->
                    <a href="{{ '/projet-accueil/#agrement' | url }}" class="btn btn-action-primary my-4">{{ boutonTexte | default("Consultez les capacités de mon agrément") }}</a>
                
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image à droite -->
            <div class="col-md-6 p-0">
                <div class="services-garde-enfants-item">
                    <div class="services-garde-enfants-image">
                        <div class="image-frame-services position-relative">

{% image "/images/presentation/agrement-limite.jpg", "Agrement Limite", "(min-width: 1024px) 100vw, 50vw" %}

                            <div class="image-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quatrième ligne -->
        <div class="row g-0">
            <!-- SORTIES ET ACTIVITES EXTERIEURES (Texte à droite) -->
            <div class="col-md-6 order-md-2 p-0 d-flex align-items-center">
                <div class="services-garde-enfants-item w-100">
                    <div class="services-garde-enfants-text-space p-4">
                        <h3 class="introduction-titre"><strong>{{ activitesTitre | default("ACTIVITES ET PROMENADES") }}</strong></h3>
                        <hr class="horizontal-line">
                        <div class="description-atout-services">
                            <p class="poppins-regular-accueil">{{ activitesDescription | default("Lorsque la météo le permet, nous effectuons des sorties quotidiennes dans les parcs et grands espaces de la ville, permettant aux enfants de rencontrer leurs pairs et de stimuler leur développement du langage, tout en luttant contre la sédentarité et en favorisant leur santé physique et mentale.") }}</p>
                            
                            <!-- Bouton "lien interne" -->
                            <a href="{{ '/projet-accueil/#activites' | url }}" class="btn btn-action-primary my-4">{{ boutonTexte | default("Explorez nos activités") }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image à gauche -->
            <div class="col-md-6 order-md-1 p-0">
                <div class="services-garde-enfants-item">
                    <div class="services-garde-enfants-image">
                        <div class="image-frame-services position-relative">

{% image "/images/presentation/parc-bretigny.jpg", "Parc Bretigny", "(min-width: 1024px) 100vw, 50vw" %}

                            <div class="image-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cinquième ligne -->
        <div class="row g-0">
            <!-- COMMUNICATION DIRECTE AVEC LES PARENTS (Texte à gauche) -->
            <div class="col-md-6 p-0 d-flex align-items-center">
                <div class="services-garde-enfants-item w-100">
                    <div class="services-garde-enfants-text-space p-4">
                        <h3 class="introduction-titre"><strong>{{ communicationTitre | default("COMMUNICATION") }}</strong></h3>
                        <hr class="horizontal-line">
                        <div class="description-atout-services">
                            <p class="poppins-regular-accueil">{{ communicationDescription | default("Je privilégie une communication directe et personnalisée avec les familles, sans intermédiaires, pour assurer une coordination fluide des soins et renforcer la confiance, garantissant ainsi un environnement serein et sécurisant pour l'enfant.") }}</p>
                            
                            <!-- Bouton "lien interne" -->
                            <a href="{{ '/projet-accueil/#role' | url }}" class="btn btn-action-primary my-4">{{ boutonTexte | default("Découvrez comment je peux vous aider") }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image à droite -->
            <div class="col-md-6 p-0">
                <div class="services-garde-enfants-item">
                    <div class="services-garde-enfants-image">
                        <div class="image-frame-services position-relative">

{% image "/images/presentation/communication-directe.jpg", "Communication Directe", "(min-width: 1024px) 100vw, 50vw" %}

                            <div class="image-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sixième ligne -->
        <div class="row g-0">
            <!-- SOCIABILISATION AU RELAIS PETITE ENFANCE (Texte à droite) -->
            <div class="col-md-6 order-md-2 p-0 d-flex align-items-center">
                <div class="services-garde-enfants-item w-100">
                    <div class="services-garde-enfants-text-space p-4">
                        <h3 class="introduction-titre"><strong>{{ sociabilisationTitre | default("SOCIABILISATION") }}</strong></h3>
                        <hr class="horizontal-line">
                        <div class="description-atout-services">
                            <p class="poppins-regular-accueil">{{ sociabilisationDescription | default("Les visites bi-mensuelles au Relais Petite Enfance (RPE) de Brétigny-sur-Orge offrent aux enfants un environnement stimulant pour enrichir leur cercle social, développer des compétences essentielles comme le partage et la communication, et renforcer le lien avec l'assistante maternelle.") }}</p>
                            
                            <!-- Bouton "lien interne" -->
                            <a href="{{ '/projet-accueil/#team' | url }}" class="btn btn-action-primary my-4">{{ boutonTexte | default("Découvrez les avantages du RPE") }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image à gauche -->
            <div class="col-md-6 order-md-1 p-0">
                <div class="services-garde-enfants-item">
                    <div class="services-garde-enfants-image">
                        <div class="image-frame-services position-relative">

{% image "/images/presentation/rpe-bretigny.jpg", "RPE Bretigny", "(min-width: 1024px) 100vw, 50vw" %}

                            <div class="image-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Septième ligne -->
        <div class="row g-0">
            <!-- ACCOMPAGNEMENT ADMINISTRATIF (Texte à gauche) -->
            <div class="col-md-6 p-0 d-flex align-items-center">
                <div class="services-garde-enfants-item w-100">
                    <div class="services-garde-enfants-text-space p-4">
                        <h3 class="introduction-titre"><strong>{{ assistanceTitre | default("ASSISTANCE") }}</strong></h3>
                        <hr class="horizontal-line">
                        <div class="description-atout-services">
                            <p class="poppins-regular-accueil">{{ assistanceDescription | default("Je vous accompagne dans toutes vos démarches administratives, y compris la saisie Pajemploi, avec une expertise juridique spécialisée grâce à mon affiliation au syndicat UNSA PRO ASSMAT garantissant ainsi simplicité et tranquillité d'esprit. La FEPEM offre des ressources pour les particuliers-employeurs.") }}</p>
                            <a href="{{ '/projet-accueil/#team' | url }}" class="btn btn-action-primary my-4">{{ boutonTexte | default("En savoir plus sur le syndicat") }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image à droite -->
            <div class="col-md-6 p-0">
                <div class="services-garde-enfants-item">
                    <div class="services-garde-enfants-image">
                        <div class="image-frame-services position-relative">

{% image "/images/presentation/syndicat-unsa-pro-assmat.jpg", "UNSA Pro Assmat", "(min-width: 1024px) 100vw, 50vw" %}

                            <div class="image-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Huitième ligne -->
<div class="row g-0">
    <!-- RESTE À CHARGE COMPÉTITIF (Texte à droite) -->
    <div class="col-md-6 order-md-2 p-0 d-flex align-items-center">
        <div class="services-garde-enfants-item w-100">
            <div class="services-garde-enfants-text-space p-4">
                <h3 class="introduction-titre"><strong>{{ resteACargeTitre | default("RESTE À CHARGE COMPÉTITIF") }}</strong></h3>
                <hr class="horizontal-line">
                <div class="description-atout-services">
                    <p class="poppins-regular-accueil">{{ resteACargeDescription | default("Découvrez sur ma page Foire aux questions des informations détaillées sur les tarifs, les aides financières, et le reste à charge, et découvrez comment choisir une assistante maternelle peut être une option financièrement avantageuse.") }}</p>
                    <!-- Bouton "lien interne" -->
                    <a href="{{ '/faq/' | url }}" class="btn btn-action-primary my-4">{{ boutonTexte | default("Trouvez les réponses à toutes vos questions ici") }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image à gauche -->
            <div class="col-md-6 order-md-1 p-0">
                <div class="services-garde-enfants-item">
                    <div class="services-garde-enfants-image">
                        <div class="image-frame-services position-relative">

{% image "/images/presentation/tarif-assmat.jpg", "CAF aides", "(min-width: 1024px) 100vw, 50vw" %}

                            <div class="image-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>



<!-- Section pour le SVG plein écran -->
<div class="svg-background">
    <div class="svg-container">
        <img src="{{ '/images/presentation/nuage-introduction.svg' | url }}" class="nuages-bleus-curvy" alt="Décor nuages">
    </div>
</div>






<section id="avis" class="container-fluid-contact py-5"> <!-- Utilisation de container-fluid -->
    <h2 class="heading-avis">Avis des parents sur Brétigny-sur-Orge - Assistante Maternelle Agréée-Chez Céline</h2>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="google-fiche-avis"><strong>VOS AVIS COMPTENT</strong></p>
                <hr class="horizontal-line">
                <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
                <div class="elfsight-app-e1c8b1af-d1eb-4f3b-abba-dd006fd956c3" data-elfsight-app-lazy></div>
            </div>
        </div>
    </div>
</section>





<section class="rencontre-assistante-maternelle-bretigny-sur-orge">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="titre-rencontrons-nous">
                    <span>
                       <img src="{{ '/images/presentation/validation-rencontre-assistante-bretigny.svg' | url }}" class="checked" alt="Icône de validation pour confirmer un rendez-vous avec Céline, assistante maternelle à Brétigny-sur-Orge">
                    </span>
                    <strong>RENCONTRONS - NOUS</strong>
                </h2>   
                
                <hr class="horizontal-line">
                <!-- Description générale -->
                <p class="poppins-regular-rencontre"><strong>Découvrez comment un accueil personnalisé peut répondre aux besoins de votre enfant.</strong></p>
                
                <div class="other-section">
                    <!-- Sous-titres pour les différents aspects du service -->
                    <h3 class="poppins-regular"><strong>Un Mode d'Accueil individuel à Brétigny-sur-Orge</strong></h3>
                    <p class="poppins-regular">Si vous recherchez un mode d'accueil serein pour les temps forts comme le repas et la sieste, combiné à des moments d'éveil enrichissants au parc ou au Relais Petite Enfance à Brétigny-sur-Orge.</p>
                    
                    <h3 class="poppins-regular"><strong>Accueil Nomade contre la sédentarité</strong></h3>
                    <p class="poppins-regular">Profitez d'un accueil nomade près de chez vous, où les sorties matinales favorisent le développement du langage et luttent contre la sédentarité.</p>
                    
                    <h3 class="poppins-regular"><strong>Un reste à charge compétitif</strong></h3>
                    <p class="poppins-regular">Mon accueil sur-mesure, avec une gestion administrative simplifiée et un reste à charge compétitif, répondra aux besoins de votre enfant.</p>
                </div>
                
                <div class="container">
                    <p class="poppins-regular-rdv">
                        C'est avec plaisir que j'échangerai avec vous.
                        <a href="{{ '/contact/' | url }}">
                            <img src="{{ '/images/presentation/enveloppe-contact-direct-assistante-maternelle-bretigny.svg' | url }}" class="checked-localisation" alt="Icône d'enveloppe pour contacter Céline Hubert, assistante maternelle à Brétigny-sur-Orge">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Autres contenus précédents -->





<!-- Start of HubSpot Embed Code -->
<script id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/144730300.js"></script>

<!-- End of HubSpot Embed Code -->
