---
layout: layouts/base.njk
title: "Mentions Légales - Céline Hubert, Assistante Maternelle Agréée à Brétigny-sur-Orge"
description: "Consultez les mentions légales concernant la propriété intellectuelle, la protection des données personnelles et les cookies de Céline Hubert, assistante maternelle agréée à Brétigny-sur-Orge."
url: "https://chubert91assmat.netlify.app/mentions-legales"
image: "mentions-legales-assistante-maternelle-agreee.jpg"
permalink: /mentions-legales/
bodyClass: "bg-white mentions-legales"
---
    
<!-- Icône de défilement vers le haut utilisant une image SVG -->
<a href="#legal" class="scroll-to-top">
    <img class="rocket-icon" src="{{ '/images/rocket-svgrepo-com.svg' | url }}" alt="Flèche vers le haut" />
</a>



    <section id="legal" class="container-fluid py-5">
        <div class="row justify-content-center text-center position-relative">
            
            <!-- SVG qui doit être placé au-dessus de la carte -->
            <img src="../images/mentions-legales/top-mentions.svg" class="map-top-curvy" alt="SVG Description">
    
            <div class="col-md-10"> <!-- Augmentation de la valeur de px-md-5 pour des marges plus larges -->
                <div class="profile-text">
    
                    <!-- Ajout d'un titre pour la section -->
                    <h2 class="heading-mentions-legales">MENTIONS LEGALES</h2>
    
                    <p class="poppins-regular-mentions"><strong>Responsable de publication :</strong> Céline Hubert.</p>
                    <p class="poppins-regular-mentions"><strong>Adresse :</strong> Brétigny-sur-orge.</p>
                    <p class="poppins-regular-mentions" id="emailContainer2"><strong>Email :</strong> <span id="email"></span></p>
                    <p class="poppins-regular-mentions"><strong>Directeur de la publication :</strong> Céline Hubert.</p>
                    <p class="poppins-regular-mentions"><strong>Agrément :</strong> L'agrément nécessaire à l'exercice de l'activité d'assistante maternelle agréée a été délivré par le Conseil Départemental de l'Essonne.</p>
                    <p class="poppins-regular-mentions"><strong>Directeur de la publication :</strong> Céline Hubert.</p>
                    <p class="poppins-regular-mentions"><strong>Hébergeur :</strong> Netlify, 2325 3rd Street, Suite 296, San Francisco, California 94107, États-Unis</p>
    
                    <!-- Espacement entre le titre et le paragraphe -->
                    <div class="mentions-spacer"></div>
    
                    <p class="poppins-regular-mentions"><strong>Propriété intellectuelle :</strong></p>
                    <p class="poppins-regular-mentions"> Ce site web a été créé par Céline Hubert pour présenter mon activité d'assistante maternelle. Tous les contenus, y compris mais non limité aux textes, images, vidéos, et tout autre élément, sont la propriété exclusive de Céline Hubert et sont protégés par les lois françaises et internationales relatives à la propriété intellectuelle. Toute reproduction, représentation, modification, diffusion, totale ou partielle, de ce contenu est strictement interdite sans l'autorisation expresse de Céline Hubert.</p>
                    <p class="poppins-regular-mentions"><strong>Protection des données personnelles :</strong></p>
                    <p class="poppins-regular-mentions">Les données personnelles collectées via le formulaire de contact sont destinées à Céline Hubert dans le but de répondre à vos demandes. Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD) (UE) 2016/679, vous disposez d'un droit d'accès, de rectification, de suppression et d'opposition concernant vos données personnelles. Vous pouvez exercer ce droit en nous contactant à l'adresse chubert.assmat91@yahoo.com</p>
                    <p class="poppins-regular-mentions"><strong>Cookies :</strong></p>
                    <p class="poppins-regular-mentions">Ce site utilise des cookies fournis par des tiers, tels que Google Analytics, pour collecter des données sur l'utilisation du site, telles que le nombre de visiteurs, les pages visitées, etc. En naviguant sur ce site, vous consentez à l'utilisation de ces cookies à des fins d'analyse.</p>
                    <p class="poppins-regular-mentions"><strong>Liens externes :</strong></p>
                    <p class="poppins-regular-mentions">Ce site peut contenir des liens vers des sites web tiers. Céline Hubert n'assume aucune responsabilité quant au contenu de ces sites externes.</p>
                    <p class="poppins-regular-mentions"><strong>Responsabilité :</strong></p>
                    <p class="poppins-regular-mentions">Céline Hubert s'efforce de fournir des informations précises et à jour sur ce site, mais ne garantit pas l'exactitude, l'exhaustivité ou la pertinence du contenu. Céline Hubert décline toute responsabilité pour tout dommage direct ou indirect résultant de l'utilisation de ce site.</p>
                    <p class="poppins-regular-mentions"><strong>Modification des mentions légales :</strong></p>
                    <p class="poppins-regular-mentions">Céline Hubert se réserve le droit de modifier les présentes mentions légales à tout moment et sans préavis. Nous vous invitons donc à les consulter régulièrement.</p>
    
                    <!-- Espacement entre le titre et le paragraphe -->
                    <div class="mentions-spacer"></div>
                    
                </div> <!-- profile-text -->
            </div> <!-- Fermeture de la col-md-10 -->
    
            <!-- SVG qui doit être placé au-dessus de la carte -->
            <img src="../images/mentions-legales/bottom-mentions.svg" class="map-top-curvy" alt="SVG Description">
    
        </div> <!-- Fermeture de la row -->
    </section> <!-- Fermeture de la section -->
    



<!-- Autres contenus précédents -->

<script>

// Script 1 adresse mail mentions légales

// Création de l'adresse e-mail
var a2 = "chubert.assmat91";
    var b2 = "yahoo.com";
    var c2 = a2 + "@" + b2;

// Sélection de l'élément où vous souhaitez ajouter le deuxième lien e-mail
var container2 = document.getElementById('emailContainer2'); // Assurez-vous d'avoir un autre conteneur avec un ID différent

// Création de l'élément <a> pour le deuxième lien e-mail
var emailLink2 = document.createElement("a");
emailLink2.href = "mailto:" + c2; // Remplacez c2 par la deuxième adresse e-mail
emailLink2.style.color = "#103653"; // Couleur différente pour le deuxième lien e-mail
emailLink2.style.textDecoration = "none";
emailLink2.style.marginLeft = "10px";

// Création du texte à afficher dans le deuxième lien e-mail
var emailText2 = document.createTextNode(c2); // Remplacez c2 par le texte de la deuxième adresse e-mail

// Ajout du texte à l'élément <a> du deuxième lien e-mail
emailLink2.appendChild(emailText2);

// Ajout du deuxième lien e-mail à l'élément container2
container2.appendChild(emailLink2);


</script>
