---
permalink: "/feed/atom.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <link rel="self" href="{{ metadata.url }}/feed/atom.xml" />
  <id>{{ metadata.url }}/feed/atom.xml</id> <!-- Ajout de l'élément id -->
  
  {%- set lastUpdated = "" -%}
  {% for item in collections.posts %}
    {%- if lastUpdated == "" or item.date > lastUpdated -%}
      {%- set lastUpdated = item.date -%}
    {%- endif -%}
  {% endfor %}
  
  <updated>{{ lastUpdated | dateToRfc3339 }}</updated>

  <author>
    <name>{{ metadata.author.name }}</name>
  </author>

  {% for item in collections.posts %}
  <entry>
    <title>{{ item.data.title | escape }}</title>
    <link href="{{ metadata.url }}{{ item.url | url }}" />
    <id>{{ metadata.url }}{{ item.url | url }}</id> <!-- Correction ici -->
    <updated>{{ item.date | dateToRfc3339 }}</updated>
    <summary><![CDATA[{{ item.data.description | escape }}]]></summary>
  </entry>
  {% endfor %}
</feed>

