---
permalink: "/feed/atom.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title> <!-- Utilise le titre du blog depuis metadata.json -->
  <link rel="self" href="{{ metadata.url }}/feed/atom.xml" /> <!-- URL du flux dynamique -->

  {%- set lastUpdated = "" -%}
  {% for item in collections.posts %}
    {%- if lastUpdated == "" or item.date > lastUpdated -%}
      {%- set lastUpdated = item.date -%}
    {%- endif -%}
  {% endfor %}
  
  <updated>{{ lastUpdated | dateToRfc3339 }}</updated> <!-- Dernière mise à jour des articles -->

  <author>
    <name>{{ metadata.author.name }}</name> <!-- Utilise le nom de l'auteur depuis metadata.json -->
  </author>

  {% for item in collections.posts %}
  <entry>
    <title>{{ item.data.title | escape }}</title> <!-- Titre de l'article -->
    <link href="{{ metadata.url }}{{ item.url | url }}" /> <!-- Lien complet vers l'article -->
    <id>{{ metadata.url }}{{ item.url | url }}" /> <!-- Identifiant unique de l'article -->
    <updated>{{ item.date | dateToRfc3339 }}</updated> <!-- Date de publication au format RFC3339 -->
    <summary><![CDATA[{{ item.data.description | escape }}]]></summary> <!-- Résumé de l'article -->
  </entry>
  {% endfor %}
</feed>
