<div class="striped-section">
    <!-- Contenu de la section -->
    Cette section présente un fond rayé décoratif, ajoutant une touche élégante à la page d'accueil dédiée à mon métier d'assistante maternelle à Brétigny-sur-Orge.
 </div>


   <!-- Pied de page -->
<section class="index-footer-section">
<h2 class="titre-footer">Pied de Page - Présentation</h2>
    <div class="container-fluid"> <!-- Changer container à container-fluid -->
        <div class="row">
            <!-- Colonne de gauche: Horaires d'accueil -->
            <div class="col-md-3 col-sm-12 text-center text-md-start pied-page-typo">
                <h3>HORAIRES D'ACCUEIL</h3>
                <p>Lundi 07h15 - 18h45</p>
                <p>Mardi 07h15 - 18h45</p>
                <p><strong>Mercredi - Fermé</strong></p>
                <p>Jeudi 07h15 - 18h45</p>
                <p>Vendredi 07h15 - 18h45</p>
            </div>
           
            <!-- Colonne du milieu gauche: liens utiles -->
            <div class="col-md-3 col-sm-12 text-center liens-utiles-typo align-center">
                <h3>LIENS UTILES</h3>
                <ul class="list-unstyled">
                    
                    <li>
                        <a href="/">
                            <img src="/images/pied-page/liens-icon-bretigny.svg" class="icone-liens" alt="Icône flèche pour retourner à la page d'accueil de Brétigny-sur-Orge" loading="lazy">
                            Présentation
                        </a>
                    </li>


                    <li>
                        <a href="/projet-accueil/">
                            <img src="/images/pied-page/liens-icon-bretigny.svg" class="icone-liens" alt="Icône flèche pour retourner à la page d'accueil de Brétigny-sur-Orge" loading="lazy">
                            Projet d'accueil
                        </a>
                    </li>
                    <li>
                        <a href="/faq/">
                            <img src="/images/pied-page/liens-icon-bretigny.svg" class="icone-liens" alt="Icône flèche pour retourner à la page FAQ sur l'accueil de Brétigny-sur-Orge" loading="lazy">
                            Foire aux questions
                        </a>
                    </li>
                    <li>
                        <a href="/contact/" style="display: flex; align-items: center;">
                            <img src="/images/pied-page/liens-icon-contact-bretigny.svg" class="love-letter" alt="Icône lettre pour accéder à la page de contact à Brétigny-sur-Orge" style="margin-right: 5px;" loading="lazy">
                            <div id="emailContainer"></div>
                        </a>
                    </li>
                </ul>
                <div class="pied-page-spacer"></div>
                <ul class="list-unstyled">
                    <li>
                        <a href="/mentions-legales/">
                            <img src="/images/pied-page/liens-icon-bretigny.svg" class="icone-liens" alt="Icône flèche pour revenir aux mentions légales sur Brétigny-sur-Orge" loading="lazy">
                            Mentions légales
                        </a>
                    </li>
                </ul>
            </div>
    

<!-- Colonne du milieu droite: reseaux sociaux -->
<div class="col-md-3 col-sm-12 text-center liens-utiles-typo">
    <h3>SUIVEZ CHEZ CELINE</h3>
    <ul class="list-unstyled">
        <li>
            <a href="https://www.instagram.com/chez.celine.assmat.bretigny91/?utm_source=qr&igsh=MWU3a2xmOHZwMjNwMA%3D%3D" target="_blank">
                <img src="/images/pied-page/social-insta-bretigny.svg" class="social-icons" alt="Instagram de Céline Hubert, assistante maternelle à Brétigny-sur-Orge" loading="lazy">
            </a>
       
            <a href="https://www.facebook.com/people/Assistante-maternelle-agr%C3%A9%C3%A9e-chez-C%C3%A9line/61568196129740" target="_blank">
                <img src="/images/pied-page/social-facebook-bretigny.svg" class="social-icons" alt="Page Facebook de Céline Hubert, assistante maternelle à Brétigny-sur-Orge" loading="lazy">
            </a>
        </li>
    </ul>
</div>


            
            <!-- Colonne de droite: Logo -->
            <div class="col-md-3 col-sm-12 text-center text-md-end">
                <img src="/images/pied-page/logo-footer-chez-celine-bretigny.svg" class="logo-pied-page" alt="Logo page index de Céline Hubert, assistante maternelle agréée à Brétigny-sur-Orge" loading="lazy">
            </div>
        </div>
        
        <hr class="pied-page-separator">


        <!-- Contenu existant -->
        <div class="row">
            <div class="col-md-12 text-center footer-text">
                <span>© 2024 Céline Hubert &nbsp;&nbsp;</span>
                <span>Conçu avec </span>
                <a>
                    <img src="/images/pied-page/coeur-assistante-maternelle-bretigny.svg" alt="Icône cœur page représentant l'amour et l'engagement de Céline Hubert, assistante maternelle à Brétigny-sur-Orge, pour son travail" class="heart-icon" loading="lazy">
                </a>
                <span> par Céline Hubert</span>
            </div>
        </div>
    </div>
</section>

