<!DOCTYPE html>
<html lang="{{ metadata.language or 'fr' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include "layouts/widget/head.njk" %} <!-- Inclusion des métadonnées  -->



</head>
<body class="{{ bodyClass or '' }}">
     
{% include "layouts/widget/nav.njk" %} <!-- Inclusion de la barre de navigation  -->


  <!-- Contenu principal -->
<main>
    {{ content | safe }}
</main>

 
 
{% include "layouts/widget/footer.njk" %} <!-- Inclusion du pied de page  -->



 <!-- Scripts JavaScript avec defer -->
  <script src="https://unpkg.com/simplebar@5.3.0/dist/simplebar.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous" defer></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" defer></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous" defer></script>
  <script src="https://unpkg.com/scrollreveal" defer></script>







<script>

// Script mail pied de page 

// Création de l'adresse e-mail
var a = "chubert.assmat91";
    var b = "yahoo.com";
    var c = a + "@" + b;

    // Sélection de l'élément où vous souhaitez ajouter le lien e-mail
    var container = document.getElementById('emailContainer');

    // Création de l'élément <a> pour le lien e-mail
    var emailLink = document.createElement("a");
    emailLink.href = "mailto:" + c;
    emailLink.style.color = "#F8F9F6";
    emailLink.style.textDecoration = "none";
    emailLink.style.marginLeft = "10px";

    // Création du texte à afficher dans le lien e-mail
    var emailText = document.createTextNode(c);

    // Ajout du texte à l'élément <a>
    emailLink.appendChild(emailText);

    // Ajout du lien e-mail à l'élément container
    container.appendChild(emailLink);

</script>


    </body>
</html>







